@import "../index.scss";

.Hero {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
    position: absolute;
    z-index: -5;
  }
}

@media (max-width: 1024px) {
  .Hero {
    height: 50vh;
    background-color: $blue-color;
    img {
      top: 50vh;
    }
  }
}
