@import "../index.scss";
@use "sass:math";

//Hero Component----------------------------------------------------------------------------

.Hero-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 60vh;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
  }

  .Hero {
    text-align: center;
    color: $white-text;

    h1 {
      font-family: $font-title;
      font-weight: 700;
      @include text-3xl;
      margin: 15px 0;
      padding: 0 10px;
    }

    h2 {
      @include text-xl;
      font-weight: 600;
      margin: 0;
      padding: 0 10px;
    }

    .Hero-btn {
      margin-top: 30px;

      a {
        @include btn-primary;
      }
    }
  }
}

@media (max-width: 1024px) {
  .Hero-container {
    height: 50vh;
    background-color: $blue-color;
    margin-bottom: 45vw;
    img {
      top: 50vh;
    }
  }
}

@media (max-width: 480px) {
  .Hero-container {
    .Hero {
      h1 {
        font-size: 36px;
        line-height: 46px;
      }

      h2 {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}

//About Component-----------------------------------------------------------------------------

.About-container {
  max-width: 1200px;
  margin: 0 auto 100px;

  .About-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 50%;
      max-width: 500px;
      height: auto;
    }

    .About-text {
      width: 50%;
      padding: 5px;

      h2 {
        @include text-xl;
        margin: 20px 0;
      }

      p {
        text-align: justify;
        color: $primary-text;
      }
    }
  }

  #About-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .About-container {
    padding: 0 15px;
    .About-section {
      flex-direction: column;

      img {
        width: 100%;
      }

      .About-text {
        width: 100%;
      }
    }
    #About-reverse {
      flex-direction: column;
    }
  }
}

//Slider Component ------------------------------------------------------------------------

.Slider-container {
  text-align: center;
  margin: 100px 0;

  .Slider-row {
    overflow-x: scroll;
    white-space: nowrap;
    @include hide-scrollbar;

    img {
      height: 280px;
      width: auto;
      margin: 2px;
    }
  }

  .Slider-btn {
    margin-top: 30px;

    a {
      @include btn-primary;
    }
  }
}

//Events Component -----------------------------------------------------------------------

.Events-container {
  background: $orange-color;
  padding: 30px 0;

  h1 {
    margin: 20px auto;
    text-align: center;
    color: $white-text;
    @include text-2xl;
    font-weight: 600;
  }

  .Events-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;

    .Events-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .Events-card {
        width: 30%;
        overflow: hidden;
        @include hide-scrollbar;
        position: relative;
        margin: 20px 0 10px;
        cursor: pointer;

        img {
          width: 100%;
          transition: filter 0.2s;
          vertical-align: middle;
        }

        p {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: $white-text;
          padding: 30px;
          text-align: justify;
          opacity: 0;
          max-height: 100%;
          font-size: 16px;
        }

        &:hover {
          img {
            filter: blur(12px) brightness(0.75);
          }
          p {
            opacity: 1;
          }
        }
      }
    }
  }
}

.Events-bg {
  width: 100%;
}

@media (max-width: 1024px) {
  .Events-container {
    .Events-grid {
      .Events-row {
        .Events-card {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Events-container {
    .Events-grid {
      .Events-row {
        .Events-card {
          width: 42%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .Events-container {
    .Events-grid {
      .Events-row {
        .Events-card {
          width: 80%;
        }
      }
    }
  }
}

//Spectra Section -----------------------------------------------------------------------

.Spectra-section {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .Spectra-text {
    width: 50%;
    padding: 5px;

    h2 {
      @include text-xl;
    }

    p {
      color: $primary-text;
      margin: 20px 0 30px;
    }

    a {
      @include btn-primary;
    }
  }
}

@media (max-width: 768px) {
  .Spectra-section {
    padding: 0 15px;
    flex-direction: column-reverse;

    img {
      width: 100%;
    }

    .Spectra-text {
      width: 100%;
    }
  }
}

//Workshops Section -------------------------------------------------------------------------

.Workshops-container {
  h2 {
    margin: 10px auto;
    @include text-2xl;
    text-align: center;
    font-weight: 600;
  }

  .Workshops-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .Workshop-card {
      width: 30%;
      margin: 10px auto;

      img {
        width: 100%;
        box-shadow: 4px 4x 4px rgba($primary-text, 0.5);
      }

      p {
        color: $primary-text;
        margin-top: 20px;
        text-align: justify;
        padding: 5px 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .Workshops-container {
    .Workshops-grid {
      .Workshop-card {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Workshops-container {
    .Workshops-grid {
      .Workshop-card {
        width: 42%;
      }
    }
  }
}
@media (max-width: 480px) {
  .Workshops-container {
    .Workshops-grid {
      .Workshop-card {
        width: 80%;
      }
    }
  }
}

// Team Section ---------------------------------------------------------------------------

.Team-container {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    padding: 10px 0;
    text-align: center;
  }

  img {
    border: solid 8px white;
  }

  .Team-faculty {
    width: 25%;
    padding: 30px 0px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    .Faculty-card {
      img {
        width: 60%;
        border-radius: 50%;
        position: absolute;
        top: 42%;
        left: 52%;
        transform: translate(-50%, -50%);
      }

      svg {
        color: $gold-color;
      }
    }
  }

  .post {
    color: $secondary-text;
  }

  .Team-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: space-evenly;

    .Member-card {
      width: 20%;
      position: relative;
      text-align: center;
      margin: 20px 0;

      .Member-pic {
        .Image-border {
          overflow: hidden;
          width: 60%;
          border-radius: 50%;
          position: absolute;
          top: 40%;
          left: 52%;
          transform: translate(-50%, -50%);
          display: flex;
          background-color: white;

          img {
            width: 100%;
            border-radius: 50%;
            align-self: center;
          }
        }

        .Social-icon-container {
          width: 60%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 8px;
          position: absolute;
          top: 40%;
          left: 52%;
          transform: translate(-50%, -50%);
          opacity: 0;

          .Social-icon {
            background: $white-text;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $gray-color;
          }
        }

        &:hover {
          img {
            filter: blur(8px);
            transition: filter 0.2s;
            cursor: pointer;
          }

          .Social-icon-container {
            opacity: 1;
            transition: opacity 0.2s;
          }
        }
      }

      .col-0 {
        color: $blue-color;
      }
      .col-1 {
        color: $orange-color;
      }
      .col-2 {
        color: $gold-color;
      }
      .col-3 {
        color: $orange-color;
      }
      .col-4 {
        color: $blue-color;
      }
    }
  }
}

/* width */
.Team-grid::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.Team-grid::-webkit-scrollbar-track {
  background: $secondary-bg;
  border-radius: 20px;
}

/* Handle */
.Team-grid::-webkit-scrollbar-thumb {
  background: $secondary-text;
  border-radius: 20px;
}

/* Handle on hover */
.Team-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .Team-container {
    p {
      font-size: 14px;
    }

    img {
      border: solid 6px white;
    }

    .Team-grid {
      .Member-card {
        .Member-pic {
          .Social-icon-container {
            padding: 5px;
            .Social-icon {
              width: 25px;
              height: 25px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Team-container {
    .Team-faculty {
      width: 175px;
    }

    .Team-grid {
      flex-wrap: nowrap;
      overflow-x: scroll;
      .Member-card {
        width: 150px;
        .Member-pic {
          width: 150px;
        }
      }
    }
  }
}

// Contact component -----------------------------------------------------------------------

.Contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 60px auto;

  .Contact-img {
    width: 25%;
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .Contact-center {
    width: 35%;

    .Contact-detail {
      h1 {
        margin: 35px 0 20px;
        @include text-2xl;
      }

      p {
        vertical-align: middle;
        padding: 5px 0;
      }
    }

    .Contact-social {
      margin: 35px 0;

      .Social-icon-container {
        display: flex;
        flex-direction: row;
        margin: 20px 0;

        .Social-icon {
          background: $secondary-bg;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $gray-color;

          &:hover {
            box-shadow: 0 4px 4px rgba($primary-text, 0.25);
            transition: linear 0.1s;
          }
        }
      }
    }
  }

  .Contact-form {
    width: 40%;
    padding: 30px 0;

    .Form-group {
      padding: 10px;

      input {
        height: 35px;
        @include form-input;
      }
      textarea {
        height: 100px;
        resize: none;
        @include form-input;
      }
    }

    .Form-btn {
      padding: 10px;
      button {
        @include btn-primary;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .Contact-container {
    .Contact-img {
      width: 40%;
    }

    .Contact-center {
      width: 60%;
    }

    .Contact-form {
      width: 100%;
      padding: 0 10%;
    }
  }
}

@media (max-width: 480px) {
  .Contact-container {
    .Contact-img {
      display: none;
    }

    .Contact-center {
      width: 100%;
      padding: 0 10%;
    }

    .Contact-form {
      padding: 0 5%;
    }
  }
}
