@import "../index.scss";

h1 {
  text-align: center;
  margin: 30px auto;
}

.Spectra-Trailer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
